.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    color: #074C3D;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    max-width: 90%;
    text-align: center;
}

#newsletter-close {
    margin-top: 15px;
    background: #074C3D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

#newsletter-close:hover {
    transition: .2s;
    background: #05322A;
}
